.sign_up_input {
	max-width: 50vw;
	width: 50rem;
	height: 3.6rem;
	border-radius: 0.5rem;
	padding-left: 4.44rem;
	font-size: 1.25rem;
	font-family: "Raleway";
	&::placeholder {
		color: #a3a3a3;
		font-size: 1.25rem;
		font-family: "Raleway";
		font-weight: 500;
		line-height: 1.75rem;
	}
	@media (max-width: 978px) {
		max-width: 100vw;
		width: 400px;
	}
}
.sign_up_input::-webkit-inner-spin-button,
.sign_up_input::-webkit-calendar-picker-indicator {
	display: none;
	-webkit-appearance: none;
}

select.sign_up_input {
	appearance: none;
	background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3e%3cpolyline points='6 9 12 15 18 9'%3e%3c/polyline%3e%3c/svg%3e");
	background-repeat: no-repeat;
	background-position: right 1rem center;
	background-size: 1em;
}

#placeholder {
	position: absolute;
	left: 70px;
	top: 50%;
	margin-top: -14px;
	color: #a3a3a3;
	font-size: 1.25rem;
	font-family: "Raleway";
	font-weight: 500;
	line-height: 1.75rem;
}
