.main_banner {
	width: 100vw;
	height: fit-content;
	min-height: 100vh;
	padding-top: 4.56rem;
	background-color: rgba(0, 0, 0, 0.85);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-blend-mode: multiply;
}

.placeholder_banner {
	width: 17.75513rem;
	height: 21.69469rem;
	background-color: lightgray;
	margin-bottom: 20px;
}
